* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  transition: $transition-theme;
  font-family: $font-family-base;
  @each $name, $color in $shades-grey {
    &.light .light__bg-#{$name}, &.dark .dark__bg-#{$name}, .bg-#{$name} {
      background-color: $color;
    }
    &.light .light__text-#{$name}, &.dark .dark__text-#{$name}, .text-#{$name} {
      color: $color;
    }
    &.light .light__btn-#{$name}, &.dark .dark__btn-#{$name}, .btn-#{$name} {
      @include button($dark-color, $color);
    }
    &.light .light__btn-link-#{$name}, &.dark .dark__btn-link-#{$name}, .btn-link-#{$name} {
      @include buttonLink($color);
    }
    &.light .light__btn-outline-#{$name}, &.dark .dark__btn-outline-#{$name}, .btn-outline-#{$name} {
      @include buttonOutline($color, $dark-color);
    }
  }
}

body.light {
  color: $dark-color;
  background: $light-bg;
  & .light__text-base, .text-base {
    color: $dark-color;
  }
  & .light__bg-base, .bg-base {
    background-color: $white;
  }
  @each $name, $color in $theme-light {
    & .light__bg-#{$name},
    .bg-#{$name} {
      background-color: $color;
    }
    & .light__text-#{$name}, .text-#{$name} {
      color: $color;
    }
    & .light__btn-#{$name}, .btn-#{$name} {
      @include button($soft-color, $color);
    }
    & .light__btn-link-#{$name}, .btn-link-#{$name} {
      @include buttonLink($color);
    }
    & .light__btn-outline-#{$name}, .btn-outline-#{$name} {
      @include buttonOutline($color, $soft-color);
    }
  }
}

body.dark {
  color: $soft-color;
  background: $dark-bg;
  & .dark__text-base, .text-base {
    color: $soft-color;
  }
  & .dark__bg-base, .bg-base {
    background-color: lighten($black, 7%);
  }
  @each $name, $color in $theme-dark {
    & .dark__bg-#{$name},
    .bg-#{$name} {
      background-color: $color;
    }
    & .dark__text-#{$name}, .text-#{$name} {
      color: $color;
    }
    & .dark__btn-#{$name}, .btn-#{$name} {
      @include button($soft-color, $color);
    }
    & .dark__btn-link-#{$name}, .btn-link-#{$name} {
      @include buttonLink($color);
    }
    & .dark__btn-outline-#{$name}, .btn-outline-#{$name} {
      @include buttonOutline($color, $soft-color);
    }
  }
}

button, a {
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 14px;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: $font-size-base;
  font-family: $font-family-base;
  border-radius: $border-radius-lg;
  transition: $transition-base;
  &:hover {
    transform: translateY(-2px);
  }
}

.btn {
  @include button();
}

.btn-link {
  @include buttonLink();
}

.btn-outline {
  @include buttonOutline();
}


.box-shadow {
  box-shadow: $box-shadow;
}