* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: $transition-theme;
  font-family: $font-family-base;
  &.light {
    color: $dark;
    background: $light-background;
  }
  &.dark {
    color: $soft-color;
    background: $dark-background;
  }
}
