//* Generic colors *//
$red: #a91e2c;
$teal: #0056b3;
$cyan: #17a2b8;
$blue: #0056b3;
$pink: #e83e8c;
$gray: #747c84;
$grey: #44444c;
$green: #18634b;
$white: #ffffff;
$black: #111111;
$indigo: #6610f2;
$purple: #6f42c1;
$orange: #c44c04;
$yellow: #f0b400;

//* Shades of grey *//
$gray-100: #ffffff;
$gray-200: #fafbfe;
$gray-300: #fafafb;
$gray-400: #e6e7e8;
$gray-500: #b7c3d2;
$gray-600: #93a5be;
$gray-700: #52547a;
$gray-800: #4e5079;
$gray-900: #424767;

//* Color scheme: Light *//
$light-bg: #f4f7f9;
$primary-color: #042454;
$secondary-color: #0056b3;
$tertiary-color: #02132d;
$accent-color: #C41C6C;
$success-color: #0d3177;
$warning-color: #841C7C;
$danger-color: #8c0404;
$dark-color: #041721;
$gray-color: #313840;
$soft-color: #f9f9f9;
$disable-color: #93a5be;

//* Color scheme: Light *//
$dark-bg: #282828;
$primary-color-dark: lighten($primary-color, 5%);
$secondary-color-dark: lighten($secondary-color, 5%);
$tertiary-color-dark: lighten($tertiary-color, 5%);
$accent-color-dark: $accent-color;
$success-color-dark: lighten($success-color, 5%);
$warning-color-dark: lighten($warning-color, 5%);
$danger-color-dark: lighten($danger-color, 5%);
$dark-color-dark: $dark-color;
$gray-color-dark: lighten($gray-color, 5%);
$soft-color-dark: lighten($soft-color, 5%);
$disable-color-dark: lighten($disable-color, 5%);

//* Brand colors *//
$slack: #611f69;
$google: #db4337;
$twitch: #4b367c;
$paypal: #033e8c;
$github: #090909;
$twitter: #1da1f2;
$youtube: #a11918;
$dribbble: #ea4c89;
$facebook: #3b5999;
$linkedin: #048abf;
$pinterest: #8c0615;
$instagram: #d6249f;
$paypal-back: linear-gradient(
  150deg,
  rgba(4, 138, 191, 1) 0%,
  rgba(3, 103, 166, 1) 30%,
  rgba(3, 90, 166, 1) 70%,
  rgba(3, 62, 140, 1) 100%
);
$instagram-back: radial-gradient(
  circle at 30% 130%,
  #fdf497 0%,
  #fdf497 5%,
  #fd5949 45%,
  #d6249f 60%,
  #285aeb 90%
);

//* Theme colors *//
$theme-light: ();
$theme-light: map-merge(
  (
    'dark': $dark-color,
    'gray': $gray-color,
    'danger': $danger-color,
    'accent': $accent-color,
    'disable': $disable-color,
    'success': $success-color,
    'warning': $warning-color,
    'primary': $primary-color,
    'tertiary': $tertiary-color,
    'secondary': $secondary-color,
  ),
  $theme-light
);

$theme-dark: ();
$theme-dark: map-merge(
  (
    'dark': $dark-color-dark,
    'gray': $gray-color-dark,
    'danger': $danger-color-dark,
    'accent': $accent-color-dark,
    'disable': $disable-color-dark,
    'success': $success-color-dark,
    'warning': $warning-color-dark,
    'primary': $primary-color-dark,
    'tertiary': $tertiary-color-dark,
    'secondary': $secondary-color-dark,
  ),
  $theme-dark
);

$shades-grey: ();
$shades-grey: map-merge(
  (
    'white': $white,
    'black': $black,
    'soft': $soft-color,
    'gray-100': $gray-100,
    'gray-200': $gray-200,
    'gray-300': $gray-300,
    'gray-400': $gray-400,
    'gray-500': $gray-500,
    'gray-600': $gray-600,
    'gray-700': $gray-700,
    'gray-800': $gray-800,
    'gray-900': $gray-900,
  ),
  $shades-grey
);

//* Theme colors *//
$generic-colors: ();
$generic-colors: map-merge(
  (
    'red': #a91e2c,
    'teal': #0056b3,
    'cyan': #17a2b8,
    'blue': #0056b3,
    'pink': #e83e8c,
    'gray': #747c84,
    'grey': #44444c,
    'green': #18634b,
    'indigo': #6610f2,
    'purple': #6f42c1,
    'orange': #c44c04,
    'yellow': #f0b400,
  ),
  $generic-colors
);

$brand-colors: ();
$brand-colors: map-merge(
  (
    'slack': $slack,
    'google': $google,
    'github': $github,
    'twitch': $twitch,
    'paypal': $paypal,
    'twitter': $twitter,
    'youtube': $youtube,
    'linkedin': $linkedin,
    'facebook': $facebook,
    'dribbble': $dribbble,
    'pinterest': $pinterest,
    'instagram': $instagram,
  ),
  $brand-colors
);

//* Shadows *//
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;

//* Components *//
$border-width: 0.0625rem;
$border-width-md: 0.125rem;
$border-width-lg: 0.25rem;
$border-width-xl: 0.375rem;
$border-color-white: $white;
$border-color: #bbc1d33f;
$border-radius: 0.45rem;
$border-radius-xl: 1.275rem;
$border-radius-lg: 0.3rem;
$border-radius-md: 0.2rem;
$border-radius-sm: 0.1rem;
$border-radius-pill: 2rem;
$circle-radius: 50%;
$organic-radius: 63% 37% 30% 70% / 50% 45% 55% 50%;

// * Transitions *//
$transition-theme: all 0.5s ease;
$transition-base: all 0.2s ease;
$transition-transform: transform 0.2s ease;
$transition-fade: opacity 0.15s linear;
$transition-collapse: height 0.35s ease;
$transition-tabs: all 0.2s;

//* Fonts *//
$font-family-base: 'Nunito', sans-serif;
$font-family-headers: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$font-size-xxl: ($font-size-base * 2);
$font-size-xl: ($font-size-base * 1.5);
$font-size-lg: ($font-size-base * 1.25);
$font-size-md: ($font-size-base * 1);
$font-size-sm: ($font-size-base * 0.875);
$font-size-xs: ($font-size-base * 0.75);
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-weight: (
  'light': $font-weight-light,
  'normal': $font-weight-normal,
  'bold': $font-weight-bold,
  'bolder': $font-weight-bolder,
);

$font-size: (
  'base': $font-size-base,
  'xxl': $font-size-xxl,
  'xl': $font-size-xl,
  'lg': $font-size-lg,
  'md': $font-size-md,
  'sm': $font-size-sm,
  'xs': $font-size-xs,
);

$font-headers: (
  'h1': $h1-font-size,
  'h2': $h2-font-size,
  'h3': $h3-font-size,
  'h4': $h4-font-size,
  'h5': $h5-font-size,
  'h6': $h6-font-size,
);

//* Screen breackpoints *//
$breakpoints-width: (
  'xxl': 2560px,
  'xl': 1920px,
  'lg': 1440px,
  'md': 1024px,
  'sm': 768px,
  'xs': 425px,
  'xxs': 320px,
);

//* btn *//
$btn-size: (
  'xl': 18px,
  'lg': 16px,
  'md': 14px,
  'sm': 12px,
  'xs': 10px,
);

//* Icon *//
$icon-box-padding: 1rem;
$icon-shape: 4.5rem;
$icon-shape-sm: 3rem;
$icon-shape-lg: 6rem;
$icon-shape-img: 6rem;
$icon-shape-bordered: 5rem;
$icon-size: 2.5rem;
$icon-size-xs: 1.25rem;
$icon-size-sm: 1.5rem;
$icon-size-md: 2rem;
$icon-size-lg: 2.5rem;
$icon-size-xl: 3rem;

//** animations **//
$animate-duration: 1s;
$animate-delay: 1s;
$animate-repeat: 1;