@import '../../../sass/utils/variables';

.Schools {
  transition: $transition-theme;
  gap: 25px;
  padding: 25px 10px;
}

.Schools__header {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  & .form-input {
    min-width: 215px;
  }
}

.Schools__header > .form-search {
  display: flex;
  justify-self: center;
  grid-column-end: span 2;
  & p {
    left: 0;
    width: 0;
    bottom: 0;
    opacity: 0;
    position: relative;
    transition: $transition-base;
  }
  & p.active {
    opacity: 1;
    bottom: 28px;
  }
  & input {
    width: 100%;
  }
}

.Schools__header > .flex {
  align-items: center;
  justify-self: flex-end;
}

.Schools__body {
  gap: 20px;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.Schools__footer {
  padding-top: 25px;
  padding-bottom: 50px;
}

.SchoolsReference {
  padding: 25px;
  border-radius: $border-radius;
  min-width: 215px;
}

@media screen and (min-width: 768px) {
  .Schools {
    grid-template-columns: 1fr auto;
    padding: 50px;
  }
  .Schools__header {
    grid-template-columns: 1fr repeat(2, auto);
    grid-column-end: span 2;
  }
  .Schools__header > .form-search {
    grid-column-end: span 1;
    justify-self: flex-end;
  }
  .SchoolsReference {
    min-width: 260px;
  }
}

@media screen and (min-width: 1024px) {
  .Schools__header {
    display: grid;
    grid-template-columns: 1fr auto auto;
  }
  .Schools__body {
    // grid-template-columns: repeat(2, 1fr);
    & .Pagination {
      grid-column-end: span 2;
    }
  }
}

@media screen and (min-width: 1440px) {
  .Schools {
    padding: 100px 250px;
  }
}

@media screen and (min-width: 1920px) {
  .Schools {
    padding: 100px 300px;
  }
  .Schools__body {
    // grid-template-columns: repeat(3, 1fr);
    & .Pagination {
      grid-column-end: span 3;
    }
  }
}

@media screen and (min-width: 2560px) {
  .Schools {
    padding: 100px 450px;
  }
  .Schools__header {
    & .form-input {
      min-width: 308px;
    }
  }
  .Schools__body {
    // grid-template-columns: repeat(4, 1fr);
    & .Pagination {
      grid-column-end: span 4;
    }
  }
  .SchoolsReference {
    min-width: 350px;
  }
}
