@import '../../../sass/utils/variables';

.EduliSupport {
  width: 100%;
  /* padding: 100px 0; */
  padding-bottom: 100px;
  gap: 15px;
  // justify-content: center;
  // justify-items: center;
  animation-duration: $animate-duration;
}

.EduliSupport p {
  justify-self: center;
  font-size: $h5-font-size;
}

.EduliSupport--items {
  display: flex;
  flex-wrap: wrap;
  // justify-items: center;
  // justify-content: center;
  // gap: 25px;
  justify-content: space-evenly;
  padding: 0 5%;
  // grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.EduliSupport__logo {
  width: 100px;
  height: 50px;
  margin: 10px;
}

.EduliSupport__logo img {
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 1024px) {
  .EduliSupport--items {
    padding: 0 10%;
  }
}

@media screen and (min-width: 1440px) {
  .EduliSupport--items {
    padding: 0;
    margin: 0 24%;
    // background-color: $white;
    // border: $border-width solid $gray-400;
    border-radius: $border-radius-xl;
  }
}